{{> navbar}}

<div class="page">
    <form id="filter-form" class="filter-bar" method="GET" action="/date/explore">

        <div class="filter-group">
            <button type="button" class="btn filter-toggle" onclick="toggleFilter(this)">Tags</button>
            <div class="filter-dropdown">
                <label><input type="checkbox" name="tags" class="tags" value="outdoor" {{#if tag_outdoor}}checked{{/if}}> Outdoor</label>
                <label><input type="checkbox" name="tags" class="tags" value="indoor" {{#if tag_indoor}}checked{{/if}}> Indoor</label>
                <label><input type="checkbox" name="tags" class="tags" value="food" {{#if tag_food}}checked{{/if}}> Food</label>
                <label><input type="checkbox" name="tags" class="tags" value="free" {{#if tag_free}}checked{{/if}}> Free</label>
                <label><input type="checkbox" name="tags" class="tags" value="nightlife" {{#if tag_nightlife}}checked{{/if}}> Nightlife</label>
                <label><input type="checkbox" name="tags" class="tags" value="romantic" {{#if tag_romantic}}checked{{/if}}> Romantic</label>
                <label><input type="checkbox" name="tags" class="tags" value="adventure" {{#if tag_adventure}}checked{{/if}}> Adventure</label>
            </div>
        </div>

        <div class="filter-group">
            <button type="button" class="btn filter-toggle" onclick="toggleFilter(this)">Cost</button>
            <div class="filter-dropdown">
                <label><input type="radio" name="cost" class="cost" value=""> Any</label>
                <label><input type="radio" name="cost" class="cost" value="1" {{#if cost1}}checked{{/if}}> $</label>
                <label><input type="radio" name="cost" class="cost" value="2" {{#if cost2}}checked{{/if}}> $$</label>
                <label><input type="radio" name="cost" class="cost" value="3" {{#if cost3}}checked{{/if}}> $$$</label>
            </div>
        </div>

        <button id="apply-filters" type="submit" class="btn btn-filled">Apply</button>
    </form>

    <div class="date-list">
        {{#each dates}}
        <div class="date-card">
            <div class="date-card-header">
                <a href="/date/{{this._id}}" class="date-card-title">{{this.title}}</a>
                <form id="favorite-form-{{this._id}}" action="/date/{{this._id}}/{{#if this.isFavorited}}unfavorite{{else}}favorite{{/if}}" method="POST" class="form-inline">
                    <button type="submit" class="favorite-btn {{#if this.isFavorited}}active{{/if}}" title="Favorite">&#9825;</button>
                </form>
            </div>
            <div class="date-meta">{{this.borough}}</div>
            <div class="tags">
                {{#each this.tags}}
                <span class="tag">{{this}}</span>
                {{/each}}
            </div>
            <div class="date-meta">by @{{this.createdByUsername}}</div>
            <div class="vote-row">
                <form id="upvote-form-{{this._id}}" action="/date/{{this._id}}/upvote" method="POST" class="form-inline">
                    <button type="submit" class="vote-btn up">&#9650; {{this.votes.upvotes}}</button>
                </form>
                <form id="downvote-form-{{this._id}}" action="/date/{{this._id}}/downvote" method="POST" class="form-inline">
                    <button type="submit" class="vote-btn down">&#9660; {{this.votes.downvotes}}</button>
                </form>
            </div>
        </div>
        {{else}}
        <p>No dates to explore yet.</p>
        {{/each}}
    </div>
</div>

{{> votes}}
{{> favorites}}
{{> filterDropdown}}