<nav class="navbar">
    <a href="/user/home"><img src="/css/Sweet%20Spot.png" alt="Sweet Spot" class="logo"></a>
    <div class="nav-links">
        <a href="/explore" class="nav-btn">Explore</a>
        <a href="/appeal" class="nav-btn">Appeal</a>
        <a href="/date/create" class="nav-btn nav-btn-blue">Create +</a>
        <a href="/user/profile"><img src="/css/profile_icon.png" alt="My Profile" class="nav-icon"></a>
    </div>
</nav>

<div class="page">
    <div class="date-list">
        {{#each dates}}
        <div class="date-card">
            <div class="date-card-header">
                <a href="/date/{{this._id}}" class="date-card-title">{{this.title}}</a>
                <form id="favorite-form-{{this._id}}" action="/user/date/{{this._id}}/{{#if this.isFavorited}}unfavorite{{else}}favorite{{/if}}" method="POST" class="form-inline">
                    <button type="submit" class="favorite-btn {{#if this.isFavorited}}active{{/if}}" title="Favorite">&#9825;</button>
                </form>
            </div>
            <div class="date-meta">{{this.borough}}</div>
            <div class="tags">
                {{#each this.tags}}
                <span class="tag">{{this}}</span>
                {{/each}}
            </div>
            <div class="date-meta">by @{{this.createdByUsername}}</div>
            <div class="vote-row">
                <form id="upvote-form-{{this._id}}" action="/date/{{this._id}}/upvote" method="POST" class="form-inline">
                    <button type="submit" class="vote-btn up">&#9650; {{this.votes.upvotes}}</button>
                </form>
                <form id="downvote-form-{{this._id}}" action="/date/{{this._id}}/downvote" method="POST" class="form-inline">
                    <button type="submit" class="vote-btn down">&#9660; {{this.votes.downvotes}}</button>
                </form>
            </div>
        </div>
        {{else}}
        <p>No dates to explore yet.</p>
        {{/each}}
    </div>
</div>